@font-face {
    font-family: 'gilroy-regular';
    src: url('../fonts/gilroy-regular-webfont.eot');
    src: url('../fonts/gilroy-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-regular-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-regular-webfont.woff') format('woff'),
         url('../fonts/gilroy-regular-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-regular-webfont.svg#gilroy-regularuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-bold';
    src: url('../fonts/gilroy-bold-webfont.eot');
    src: url('../fonts/gilroy-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-bold-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff'),
         url('../fonts/gilroy-bold-webfont.svg#gilroy-bolduploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gilroy-light';
    src: url('../fonts/gilroy-light-webfont.eot');
    src: url('../fonts/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-light-webfont.woff2') format('woff2'),
         url('../fonts/gilroy-light-webfont.woff') format('woff'),
         url('../fonts/gilroy-light-webfont.svg#gilroy-lightuploaded_file') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
label,
input,
table{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
*{
  font-family: 'gilroy-regular', Montserrat, sans-serif;
  outline: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: 'gilroy-bold', Montserrat, sans-serif;
}
.light{
  font-family: 'gilroy-light', Montserrat, sans-serif !important;
}
a:hover, 
a:visited, 
a:active{
  text-decoration: none;
  outline:none;
  outline: 0; 
}
a,
a:active, 
a:focus{
  outline: none;
  outline: 0;
}

html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 18px;
}

.hover_ease_2{
  -webkit-transition: all 200ms ease-out 0s;
     -moz-transition: all 200ms ease-out 0s;
       -o-transition: all 200ms ease-out 0s;
          transition: all 200ms ease-out 0s;  
}
.hover_ease_5{
  -webkit-transition: all 500ms ease-out 0s;
     -moz-transition: all 500ms ease-out 0s;
       -o-transition: all 500ms ease-out 0s;
          transition: all 500ms ease-out 0s;  
}
.white{
  color: #fff;
}
.dark{
  color: #47164f;
}
.gray{
  color: #808080;
}

/* Header */

.logo {
  width: 170px;
}

.heroSection {
  background: url('../images/banner.jpg');
  background-position: center;
  background-size: cover;
  position: relative;
}
.heroSection .navbar {
  padding: 40px 0px;
  background-color: transparent !important;
}

.sectionContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-left: 30px;
  display: block;
  color: #fff;
  font-weight: 300;
  text-align: center;
}
.navbar-expand-md .navbar-nav .nav-link:hover {
  text-decoration: underline;
}
.heroSectionContent h1 {
  font-size: 90px;
  font-weight: 700;
}

.teamHead {
  font-size: 90px;
  font-weight: 700;
}

.heroSectionContent h2 {
  font-size: 36px;
  font-weight: 300;
  padding: 20px 0 60px;
}
.heroSectionContent {
  max-width: 550px;
  padding: 70px 0 240px;
}

.heroSectionBtns button {
  border-radius: 50px;
  border: 1px solid #fff;
  font-weight: 700;
  background: transparent;
  padding: 10px 50px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 30px;
  cursor: pointer;
  background: #e6384d;
  background: -moz-linear-gradient(left, #e6384d 0%, #f06b38 50%);
  background: -webkit-linear-gradient(left, #e6384d 0%,#f06b38 50%);
  background: linear-gradient(to right, #e6384d 0%,#f06b38 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6384d', endColorstr='#f06b38',GradientType=1 );
}
.heroSectionBtns button:hover{
  background: #e6384d; /* Old browsers */
  background: -moz-linear-gradient(left, #e6384d 0%, #f06b38 50%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #e6384d 0%,#f06b38 50%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #e6384d 0%,#f06b38 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6384d', endColorstr='#f06b38',GradientType=1 ); /* IE6-9 */
  box-shadow: 10px 10px 20px rgba(0,0,0,0.2);
}

.heroHightlights {
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 1;
  bottom: 0;
  vertical-align: middle;
  display: table;
  max-width: 120px;
  padding-right: 20px;
}
.heroHightlights:after {
  content: "";
  background: #e6394f;
  height: 350px;
  width: 350px;
  display: block;
  position: absolute;
  left: -60px;
  top: -100%;
  z-index: -1;
  border-radius: 50%;
}

.heroHightlight_head {
  font-size: 19px;
  font-weight: 700;
  padding-bottom: 20px;
}

.heroHightlights p {
  font-size: 12px;
}
.sectionContain {
  display: table;
  width: 100%;
}

.sectionContainLeft {
  width: 100px;
  display: table-cell;
  vertical-align: top;
}

.sectionContainRight {
  display: table-cell;
}
.keepUpdated input {
  margin-bottom: 20px;
}

button.navbar-toggler {
  border: 1px solid #fff;
}
/* Header */


/* Section 1 */

.section{
  padding: 100px 0;
}

.sectionHead {
  font-size: 44px;
  font-weight: 700;
/*  max-width: 350px;*/
/*  padding-bottom: 70px;*/
}
.sectionSubImg {
  height: 140px;
  width: 140px;
  text-align: center;
  border: 1px solid #e13535;
  line-height: 130px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.sectionSubHead {
  color: #555;
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-family: 'gilroy-bold', Montserrat, sans-serif;
}
.sectionSubDesc {
  font-size: 18px;
  color: #555;
  line-height: 30px;
  font-weight: 300;
  max-width: 250px;
}
.white .sectionSubHead , .white .sectionSubDesc, .white .sectionSeeMore{
  color: #fff;
}

.sectionSeeMore {
  padding-top: 60px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #555;
  letter-spacing: 6px;
  display: block;
  font-family: 'gilroy-bold', Montserrat, sans-serif;
}

.sectionSeeMore:hover {
  color: #47164f;
  text-decoration: underline;
}

.sectionSub {
  max-width: 300px;
}
.sectionCount > b {
  font-size: 30px;
  font-weight: 700;
}
.sectionCount span {
  color: #dcdcdc;
  font-weight: 300;
}

/* Section 1 */


/* Section 2 */


.blueBG{
  background: #e6384d;
  background: -moz-linear-gradient(left, #3b1142 0%, #47164f 50%); 
  background: -webkit-linear-gradient(left, #3b1142 0%,#47164f 50%); 
  background: linear-gradient(to right, #3b1142 0%,#47164f 50%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6384d', endColorstr='#f06b38',GradientType=1 ); 
}
.sectionNum {
  font-size: 90px;
  font-weight: 700;
  opacity: 0.3;
/*  transform: translateY(90px);*/
/*  margin-top: -30%;*/
}
.section.section-2 {
  width: 100%;
  content: "";
  background: url(../images/sec2bg1.png);
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 330px 0 500px;
}

.section-2-After .sectionContainRight {
  transform: translateY(-60%);
}
.section-2-After {
  height: 420px;
}
.section-2-After img {
  width: 100%;
}

/* Section 2 */


/* Section 3 */


.section-3{
  background: #e6384d;
  background: -moz-linear-gradient(left, #ee5437 0%, #f36c26 50%);
  background: -webkit-linear-gradient(left, #ee5437 0%, #f36c26 50%);
  background: linear-gradient(to right, #ee5437 0%, #f36c26 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6384d', endColorstr='#f06b38',GradientType=1 );
}
.section-3 .sectionSubImg{
  border-color: #fff;
}
.section-3-content {
  display: table;
  width: 100%;
  margin: 0 -15px;
}
.section-3-content-left, .section-3-content-right {
  display: table-cell;
  width: 50%;
  padding: 0 15px;
}
.section-3-content-left {
  vertical-align: top;
}
.section-3 .sectionSub {
  padding-bottom: 65px;
  max-width: none;
}
.section-3 .sectionSubDesc {
  max-width: 350px;
}
.section-3-content-right {
  padding-top: 200px;
}
.sectionMore {
  font-size: 18px;
  color: #fff;
  padding: 20px 0px 0;
  display: block;
}
.sectionMore:hover{
  color: #fff;
  text-decoration: underline;
} 

.section.section-3{
  position: relative;
  padding-top: 500px;
  padding-bottom: 300px;
  background: url('../images/sec3bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

/* Section 3 */



/* Section 4 */


.section-4{
  background: url('../images/910218206.jpg');
  background-position: right center;
  background-repeat: no-repeat;
  padding: 140px 0;
  background-size: auto 100%;
}
.section-4 .sectionHead {
  max-width: 500px;
  padding-bottom: 50px;
}
.section-4 .sectionSubHead {
  max-width: 400px;
}
.section-4-content p {
  max-width: 50%;
  padding-bottom: 20px;
}

/* Section 4 */

/* Section 5 */

.section-5 .sectionHead {
    max-width: 679px;
}
.section-5-slide{
  max-width: 440px ;
}
h4.section-5-slideName {
  color: #f06b38;
  font-size: 20px;
  padding-top: 70px;
}
.section-5-slideTitle {
  color: #000;
  font-weight: 300;
  text-transform: uppercase;
  padding: 5px 0 10px;
  font-size: 19px;
}
.section-5-slideDesc {
  font-size: 18px;
  line-height: 28px;
  font-weight: 300;
  max-width: 260px;
  padding-bottom: 20px;
  color: #555;
}
.section-5-slideImg {
  /*background: #fafafa;*/
}
.section-5-slideImg img {
  width: 100%;
/*  padding-right: 100px;*/
}
.section-5-slideSocial li {
  display: inline-block;
  padding-right: 15px;
}
.section-5-slideSocial li a {
  font-size: 35px;
  color: #d0cfcb;
}
.section-5-slideSocial li a:hover {
  color: #969191;
}
/*.slick-list {
    z-index: -1;
}*/
.slick-arrow {
  background: #fff;
  border: none;
  font-size: 0;
  height: 90px;
  width: 90px;
  display: inline-block;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  box-shadow: 20px 20px 50px rgba(0,0,0,0.1);
  cursor: pointer;
  z-index: 200px;
  -webkit-transition: all 200ms ease-out 0s;
     -moz-transition: all 200ms ease-out 0s;
       -o-transition: all 200ms ease-out 0s;
          transition: all 200ms ease-out 0s;  

}
.slick-disabled {
  opacity: 0;
}
.slick-arrow:hover{
  box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
}
.section-5-slides {
  position: relative;
}

.slick-prev.slick-arrow {
  z-index: 2222222;
  left: 50px;
}

.slick-next.slick-arrow{
  right: 50px;
  left: auto;
  z-index: 2222222;
}
.roadmapTimeline-contents .slick-prev.slick-arrow {
  left: 10px;
}
.roadmapTimeline-contents .slick-next.slick-arrow {
  right: 10px;
}
.slick-arrow:after{
    content: '';
    background: url('../images/Right arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 30px;
    font-size: 0;
    display: block;
    margin: 0 auto;
}
.slick-next.slick-arrow:after{

}
.slick-prev.slick-arrow:after {
  transform: rotate(180deg);
}
.team-photo {
  width: 100%;
}



/* Section 5 */


/* Section 6 */


.section-6-slide {
  display: table;
  width: 100%;
  margin: 0 -15px;
}

.section-6Left, .section-6Right {
  width: 50%;
  display: table-cell;
  padding: 0 15px;
}
.section-6Left img {
  width: 100%;
}
.section-6Left {
  position: relative;
  vertical-align: bottom;
}
.section-6Left .section-6Arrow {
  position: absolute;
  left: 15px;
  display: inline-block;
  width: 100%;
  bottom: 0;
}
.section-6Arrow a {
    position: static;
    width:  100px;
    float: left;
    line-height: 100px;
    height: 100px;
    background: #fff;
    opacity: 1;
    color: #ddd;
}
.section-6Arrow a span{
  color: #ddd;
}
.section-6Arrow img {
    width: 30px;
    text-align: center;
}
.section-6Arrow .h_arrow, .section-6Arrow a:hover  .n_arrow{
  display: none;
}
.section-6Arrow a:hover  .h_arrow{
  display: block;
}
.section-6Arrow a:hover {
    background: #47164f;
}
.carousel-control-prev img.n_arrow, .carousel-control-next img.h_arrow  {
    transform: rotate(180deg);
}

.slideMeetDate {
    display: flex;
}
.slideMeetDate b {
    width:  20px;
    font-size: 40px;
    position: relative;
    top: -50px;
    color: #eeeeee;
}
.slideMeetDate h2 {
    font-size: 60px;
    padding-left: 50px;
    font-weight: 300;
}
.slideMeetTitle {
    color: #f06b38;
    font-size: 48px;
    font-weight: 700;
}
.slideMeetPlace {
    color: #555555;
    font-weight: 700;
    padding: 10px 0 25px;
}
/* Section 6 */

/* Section 7 */


.section.section-7 {
  background: url('../images/sec6bg.png');
  background-position: left center;
  background-repeat: no-repeat;
  padding: 270px 0 140px;
  background-size: contain;
}
.section-7-content {
  display: table;
  width: 100%;
  height: 270px;
}
.section-7-contentLeft, .section-7-contentRight {
  display: table-cell;
  vertical-align: top;  
}
.section-7-contentLeft{
  width: 60%;
}
.section-7-contentRight {
  width: 40%;
}
.sectionMediaContent_desc.sectionSubDesc {
  max-width: 400px;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 20px;
}
.sectionMediaContent_author {
  font-size: 20px;
  font-weight: 700;
  color: #555;
  text-transform: uppercase;
}
.sectionMediaContent_name {
  font-size: 13px;
  color: #d4d4d4;
  font-weight: 300;
}
.mediaSlidePagi {
  padding-top: 35px;
}
.mediaSlidePagi li {
  display: inline-block;
  padding-right: 10px;
}
.mediaSlidePagi li a {
  height: 8px;
  width: 8px;
  background: #d8d8d8;
  display: inline-block;
  border-radius: 10px;
}
.mediaSlidePagi li a.active {

  background: #7f7f7f;
}
.section-7-slideIcons a {
    color: #fff;
    opacity: 0.5;
    font-size: 40px;
}
.section-7-slideIcons a:hover, .section-7-slideIcons .active a {
    opacity: 1;
}
.section-7-slideIcons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 260px;
}

.section-7-slideIcons li {
    width: 33.3%;
}

/* Section 7 */


/* Section 8 */



.sectionBlog {
  max-width: 280px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 30px 40px 70px rgba(0,0,0,0.1);
}
.sectionBlogImg img {
  width: 100%;
}
.section-8 .sectionContainRight {
  display: block;
  /* width: 100%; */
}
.sectionBlogImg span {
  position: absolute;
  left: 0;
  top: 0;
  background: #E6344F;
  padding: 7px 15px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 4px;
  font-size: 18px;
}
.sectionBlogDetails {
  padding: 30px 40px;
}
.sectionBlogDetails .sectionSubHead {
  padding-bottom: 15px;
}
.sectionBlogDate {
  font-size: 15px;
  font-weight: 300;
  padding-bottom: 20px;
}
.sectionBlogDetails .sectionMore {
  color: #555;
  font-size: 14px;
  font-weight: 500;
}
.keepUpdated {
  padding: 130px 0 50px;
}
.sectionBlog.sectionBlogScale {
  transform: scale(1.3);
}
.keepUpdated input {
  width: 100%;
}
.section.section-8, .section.keep-updated-team {
    position: relative;
    background: url(../images/sec8gb.png);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 200px 0;
    background-position: bottom center;
}
.UpdatesEmail {
  padding: 10px 30px;
  border: 1px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
}
.btn_trans {
  background: rgba(255,255,255,0.5);
  border: 1px solid #fff;
  padding: 13px 30px;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  cursor: pointer;
}
.btn_trans:hover {
    background: transparent;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.1);
}
.section-8-content {
    padding: 100px 0 0px;
}

/* Section 8 */

/*Team banner */


.heroSection.teamHero {
  background-image: url('../images/teambanner.jpg');
}
.teamHero .navbar-expand-md .navbar-nav .nav-link, .copyHero .navbar-expand-md .navbar-nav .nav-link {
  color: #47164f
}
.teamHero .heroSectionContent h1, .copyHero .heroSectionContent h1 {
    color: #47164f;
    font-family: 'gilroy-bold', Montserrat, sans-serif;
}
.teamHero .heroSectionContent {
    max-width: 550px;
    padding: 100px 0 400px;
}
.teamChatWrap {
    position: relative;
    background: url(../images/telegram.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 250px 0;
    background-position: bottom center;
}
.teamChatWrapRight .sectionSubHead {
    float: left;
    padding: 10px 50px 10px 0;
}
.sectioncarouselContent {
    display: table;
    margin: 0 -15px;
}
.sectioncarouselRight, .sectioncarouselLeft {
    display: table-cell;
    vertical-align: top;
    padding: 0 15px;
}
.sectioncarouselLeft {
    width: 40%;
}
.sectioncarouselRight p {
    padding-bottom: 15px;
}
.sectioncarousel {
    padding: 100px 0 100px;
}
.sectioncarousel .carousel-indicators {
    position: relative;
    display: block;
    vertical-align: middle;
    padding-top: 80px;
}
.sectioncarousel  .carousel-indicators li {
    width: 11px;
    float: none;
    height: 11px;
    border-radius: 50%;
    display: block;
    background: #D4D4D4;
    margin-bottom: 7px;
}
.sectioncarousel .carousel-indicators li.active {
    background: #555;
    height:  12px;
    width: 12px;
}


/*Team banner */


/*road Map*/

.heroSection.roadmapHero {
  background-image: url('../images/roadmapbanner.jpg');
}
.roadmapHero .heroSectionContent{
  padding: 180px 0 360px;
}
.keepUpdated_dark .UpdatesSubmit{
  background: #F36C26;
  max-width: 290px;
}
.keepUpdated_dark .UpdatesEmail{
  border-color: #47164F;
  color: #47164F;
}
.section.keepUpdated_dark.roadMapUpdates {
    background: url('../images/roadmapupdatebg.jpg');
    background-position: bottom center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.roadMapUpdates:before {
    background-image: url(../images/roadmapupdatebg1.jpg);
    content: "";
    height: 120px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    z-index: 12;
    left: 0;
    display: block;
    right: 0;
}
.roadmapTimeline {
    background: #f06b38;
    overflow: hidden;
    position: relative;
}
.roadmapTimelineHead {
    font-size: 60px;
    font-family: 'gilroy-light', Montserrat, sans-serif;
    padding: 40px 0;
}

.roadmapTimelineDate p {
    font-size: 33px;
    font-family: 'gilroy-light', Montserrat, sans-serif;
}

.roadmapTimelineDate span {
    font-size: 20px;
    font-family: 'gilroy-light', Montserrat, sans-serif;
    height: 5px;
    line-height: 5px;
    overflow:  hidden;
}
.roadmapTimelineSlide .sectionSubDesc {
    max-width: none;
    font-family: 'gilroy-light', Montserrat, sans-serif;
}

.roadmapTimelineSlide {
    /*max-width: 760px;*/
    /*padding: 0 70px;*/
}
.roadmapTimeline-contents {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.roadmapTimelineSlide {
    padding-right: 200px;
}
.roadmapTimelineSlide:nth-of-type(odd):after {
    content: "";
    background: #e77f4f;
    height: 100%;
    width: 100%;
    position: absolute;
    left: -120px;
    top: 0;
    z-index: -1;
    transform: scaleY(5);
}
.roadmapTimeline .slick-list{
  overflow: visible;
}
.roadmapTimelineSlide {
    position: relative;
}
.roadmapTimeline  .sectionContainer {
    position: relative;
    z-index: 1;
}

/*road Map*/


/*Footer*/

footer{
  padding: 90px 0 60px; 
}
.footHead {
  padding-bottom: 15px;
  font-size: 18px;
}
.footSection p{
  font-weight: 300;
}
.footSection p, .footSection a {
  font-size: 18px;
  line-height: 26px;
}
.sectionBlogImg {
  position: relative;
}
.footSection.socialIcons a {
  background: #fff;
  height: 30px;
  width: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 17px;
  color: #47164f;
  border: 1px solid transparent;
}
.footSection.socialIcons a:hover{
  background-color: #47164f;
  border-color: #fff;

}
.socialIcons li {
  display: inline-block;
  padding-right: 10px;
  padding-bottom: 10px;
}
.footSection a, .footerLogo a{
  color: #fff;
}
.footSection a:hover, .footerLogo a:hover{
  color: #fff;
  text-decoration: underline;
}

/*Footer*/



/*Responsive*/

@media (min-width: 1300px) {
.section.section-2, .teamChatWrap{
  background-size: 100% 100%;
}
.section.keepUpdated_dark.roadMapUpdates{
  background-size: 100% 100px;
}
.roadMapUpdates:before{
  height: 150px;
}
}

@media (min-width: 1200px) {

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {
.section.section-4 {
  background: none;
  padding-bottom: 100px;
}
.section-4-content p{
  max-width: none;
}
.section-5-slide{
  padding: 0 15px;
}
.section-5-slide{
  max-width: 400px;
}
}

@media (min-width: 768px) and (max-width: 1199px) {
.sectionBlogDetails {
    padding: 20px;
}
.sectionBlog.sectionBlogScale {
    transform: scale(1.1);
}
}

@media (max-width: 767px) {

.mobileBackground {
  background-image: linear-gradient(-180deg, rgba(0,0,0,0.30) 60%, rgba(255,255,255,0.00) 90%);;
}

.navbar-expand-md .navbar-nav .nav-link {
    text-align: left;
    padding: 10px 0;
}
.heroSectionContent h1 {
    font-size: 60px;
}
.heroSectionContent h2 {
    font-size: 32px;
}
.heroSectionBtns button {
    font-size: 18px;
}
.heroSectionContent {
    padding: 20px 0 160px;
}
.section {
    padding: 70px 0;
}
.sectionContainLeft, .sectionContainRight {
    display: block;
}
.sectionContainLeft, .sectionContainRight {
    display: block;
}
.sectionHead {
    font-size: 35px;
    text-align: center;
}
.sectionSub {
    margin: 0 auto 80px;
    text-align: center;
    max-width: none;
    display: table;
}
.sectionSubImg {
    height: 100px;
    width: 100px;
    line-height: 96px;
    margin: 0 auto 30px;
}
.sectionSubImg img {
    width: 55%;
}
.sectionSubDesc {
    margin: 0 auto;
}
.sectionSubHead {
    padding-bottom: 15px;
}
.section.section-2 {
    padding: 290px 0 190px;
    background-position: top left;
    background-size: auto 100%;
}

.section-2-After img {
    width: 100%;
}

.section-2-After {
    height: auto;
}
.sectionNum {
    font-size: 120px;
}
.section.section-3 {
    position: relative;
    padding-bottom: 180px;
    background: url(../images/sec3bg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-top: 70px;
}
.section-3-content-left, .section-3-content-right {
    width: 100%;
    display: block;
    padding: 0 15px;
}

.section-3-content {
    margin: 0;
}

.section-3 .sectionSub {
    padding: 0;
}
.section.section-4 {
    background: none;
}
.section-4-content p {
  max-width: 100%;
}
.section-5-slides {
    position: relative;
    padding: 0 15px;
}
.section-5-slides .slick-arrow {
    height: 60px;
    width: 60px;
}
.section-5-slideDesc {
    max-width: none;
}
.section-6Left, .section-6Right {
    width: 100%;
    display: block;
}
.section-6Right {
    padding-top: 70px;
}
.slideMeetDate h2 {
    font-size: 50px;
}
.slideMeetDate b {
    font-size: 30px;
    top: -30px;
}
.slideMeetTitle {
    font-size: 40px;
}
.section-6Right .sectionSubDesc {
    margin: auto;
    display: block;
    max-width: none;
}
.section-6{
  padding-bottom: 100px;
}
.section-7-content {
    display: block;
    height: auto;
}

.section-7-contentLeft, .section-7-contentRight {
    display: block;
    width: 100%;
}
.section-7-content .sectionSubDesc {
    margin: 10px 0;
    color: #fff;
}
.section.section-7 {
  background-position: left center;
  padding: 80px 0;
  background-size: auto 100%;
}
.sectionBlog.sectionBlogScale {
    transform: none;
}
.sectionMediaContent_author{
  color: #fff;
}
.sectionBlog {
    margin: 0 auto 50px;
}

.section.section-8 {
  background-size: auto 80%;
  padding: 80px 0 20px;
}
.keepUpdated input {
    margin-bottom: 20px;
}
.sectioncarousel .carousel-indicators li {
    display: inline-block;
}

.sectioncarousel .carousel-indicators {
    text-align: center;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}
.sectioncarousel {
    padding: 70px 0 30px;
}
.sectioncarouselRight, .sectioncarouselLeft {
    width: 100%;
    display: block;
}

.roadmapTimelineSlide{
  padding-right: 0;
  padding-right: 20px;
}
.roadmapTimelineHead {
    font-size: 30px;
    padding: 20px 0;
}

.roadmapTimelineDate span {
    font-size: 14px;
}

.roadmapTimelineDate p {
    font-size: 20px;
}
.roadmapTimelineSlide:nth-of-type(odd):after{
  left: -10px
}
.roadmapTimelineSlide {
}
.footerLogo, .footSection {
    padding-bottom: 30px;
}
.slick-next.slick-arrow{
  right: 15px;
}
.slick-prev.slick-arrow {
  left: 15px;
}
.slick-arrow{
  height: 60px;
  width: 60px;
}

.keepUpdated_dark .UpdatesSubmit{
  margin: 0 auto;
  display: block;
}

.footSection {
  text-align: center;
}
.roadMapUpdates:before{
  background-size: contain;
}
.keepUpdated {
    padding: 40px 0 50px;
}
}

@media (min-width: 576px) and (max-width: 767px) {

}


@media (max-width: 575px) {

}


/*Responsive*/



.carousel-fade .carousel-item {
 opacity: 0;
 transition-duration: .6s;
 transition-property: opacity;
}

.carousel-fade  .carousel-item.active,
.carousel-fade  .carousel-item-next.carousel-item-left,
.carousel-fade  .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-right {
 opacity: 0;
}

.carousel-fade  .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade  .active.carousel-item-prev {
 transform: translateX(0);
 transform: translate3d(0, 0, 0);
}


// LEGAL PAGES

.copyPage {
    max-width: 550px;
}

.copyPage h1 {
    color: #47164f;
    font-family: 'gilroy-bold', Montserrat, sans-serif;
    font-size: 90px;
    font-weight: 700;
}

.subhead-legal {
  color: #47164f;
}

